<div class="container mt-4 animated fadeIn">
  <div class="row">
    <div class="col">
      <div class="jumbotron bg-dark">

        <h1>
          Sobre el software
        </h1>

        <hr>


        <h4>
          Destinatario del Software:
        </h4>

        <p> El software educativo está destinado a la captación laboras determinada en esto se realiza la distinta
          capacitación y posterior empleo en periodo de prueba.</p>

        <p>También es necesario tener cierto nivel de conocimiento en redes de información para el uso de este software</p>

        <h4>Tecnologías usadas en el software:</h4>

        <p>Este software está construido con el motor grafico de videojuegos Unity 3d junto con el lenguaje de
          programación c#.</p>
          <p>Gracias a unity pudimos realizar un software con características lúdicas permitiendo al usuario tener mayor interacción con el mismo a través de actividades prácticas.</p>


          <h4>
              Equipo de desarrollo:
            </h4>

            <p>El equipo de desarrollo que hizo posible la creación de este proyecto esta conformado por: </p>
            <ul>
              <li>Blanco Leonardo</li>
              <li>Noriega Marcos</li>
            </ul>
      </div>
    </div>
  </div>
</div>